baseURL: https://anttimakinen.github.io/
languageCode: en-us
title: Anttimakinen
theme: "PaperMod"

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: AnttiMakinen
  description: "Tervetuloa henkiseen pyhäkkööni, jossa löydät ohjausta ja inspiraatiota matkallesi itsetuntemuksen äärelle. Anna minun, Antin, olla myötätuntoinen oppaasi kohti rauhaa ja valaistumista."
  keywords: [henkisyys, henkiset harjoitukset, meditaatio, mindfulness, itsetuntemus, energiahoito, intuitio, tasapaino, rauha, henkinen kasvu, tietoisuus, hengellisyys, sisäinen rauha, itsetuntemus, tarkoitus, meditatiiviset harjoitukset, henkinen hyvinvointi]
  author: Me
  # author: ["Me", "You"] # multiple authors
  images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "January 2, 2006"
  defaultTheme: dark # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "icons8-h-96.png"
    favicon16x16: "icons8-h-16.png"
    favicon32x32: "icons8-h-32.png"
    apple_touch_icon: "<link / abs url>"
    safari_pinned_tab: "<link / abs url>"

  label:
    text: "Antti Mäkinen"
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: Antti Mäkinen
    subtitle: "Tervetuloa henkiseen pyhäkkööni, jossa löydät ohjausta ja inspiraatiota matkallesi itsetuntemuksen äärelle. Anna minun, Antin, olla myötätuntoinen oppaasi kohti rauhaa ja valaistumista."
    imageUrl: buddha.jpg
    imageWidth: 120
    imageHeight: 120
    imageTitle: my image
    buttons:
      - name: Blogi
        url: posts
      - name: Palvelut
        url: services

  # home-info mode
  homeInfoParams:
    Title: "Henkinen Vieno"
    Content: Tervetuloa Joe'n henkiseen pyhäkköön. Täältä löydät ohjausta ja inspiraatiota matkallesi itsetuntemuksen äärelle. Anna minun, Joe'n, olla myötätuntoinen oppaasi kohti rauhaa ja valaistumista. Yhdessä lähdemme syvälliselle matkalle henkiseen kasvuun ja oivallukseen.

  socialIcons:
    - name: twitter
      url: "https://twitter.com/"
    - name: instagram
      url: "https://facebook.com"
    - name: telegram
      url: "https://telegram.org"

  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: archives
      name: Arkistot
      url: /archives/
      weight: 10
    - identifier: about
      name: Sinusta
      url: /about/
      weight: 30
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
